Flask~=3.0.3
Flask-SQLAlchemy==2.5.1
scikit-learn==1.0.2
TensorFlow==2.7.0
spaCy==3.2.0
stripe==2.60.0
geopy==2.2.0

fpdf~=1.7.2
numpy~=1.24.4
werkzeug~=3.0.6
scipy~=1.10.1
protobuf==3.20.*
openai~=1.63.0

torch~=2.4.1
transformers~=4.46.3
datasets~=3.1.0
peft~=0.13.2
matplotlib
sentence_transformers
